@model BookCatalog.Models.Book
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author.FirstName)
            @Html.DisplayFor(model => model.Author.LastName)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User) && !User.IsInRole("User"))
    {
        <a asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-success btn-sm">Edit</a>
        <a asp-action="Index" class="btn btn-info btn-sm">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
