@model IEnumerable<BookCatalog.Models.Book>
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Books";
}

<h2>Books</h2>

@if (SignInManager.IsSignedIn(User) && !User.IsInRole("User"))
{
    <p>
        <a asp-action="Create" class="btn btn-success btn-sm" >Create New</a>
    </p>

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.FirstName)
                    @Html.DisplayFor(modelItem => item.Author.LastName)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && !User.IsInRole("User"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-primary btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.BookId" class="btn btn-danger btn-sm">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.BookId" class="btn btn-info btn-sm">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
