@model BookCatalog.Models.Author
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        @await Html.PartialAsync("_authorBooks")
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User) && !User.IsInRole("User"))
    {
        <a asp-action="Edit" asp-route-id="@Model.AuthorId" class="btn btn-success btn-sm">Edit</a>
        <a asp-action="Index" class="btn btn-info btn-sm">Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>
