@model IEnumerable<BookCatalog.Models.RoleViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Role";
}

<h3>@ViewData["Title"]</h3>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.applicationUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.applicationUser.Email)
                </td>
                <td>
                    <form asp-action="ChangeRole">
                        <input type="hidden" asp-for="@item.ApplicationUserId" name="applicationUserId" />
                        <select asp-for="@item.RoleId" name="roleId" onchange="this.form.submit()" class="form-control"
                                asp-items="@(new SelectList(@item.Roles, "Id", "Name", @item.RoleId))"></select>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>